MicroServices/TradeProducer/source/__pycache__/
MicroServices/TradeProducer/ruff_cache/
MicroServices/TradeProducer/.env
MicroServices/TradeProducer/tests/
MicroServices/OHLCTradeAggregator/source/__pycache__/
MicroServices/OHLCTradeAggregator/ruff_cache/
MicroServices/OHLCTradeAggregator/.env
MicroServices/OHLCTradeAggregator/tests/
MicroServices/OHLCTradeAggregator/state/