MicroServices/FeaturePipeline/TradeProducer/source/__pycache__/
MicroServices/FeaturePipeline/TradeProducer/ruff_cache/
MicroServices/FeaturePipeline/TradeProducer/.env
MicroServices/FeaturePipeline/TradeProducer/tests/
MicroServices/FeaturePipeline/OHLCTradeAggregator/source/__pycache__/
MicroServices/FeaturePipeline/OHLCTradeAggregator/ruff_cache/
MicroServices/FeaturePipeline/OHLCTradeAggregator/.env
MicroServices/FeaturePipeline/OHLCTradeAggregator/tests/
MicroServices/FeaturePipeline/OHLCTradeAggregator/state/*
MicroServices/FeaturePipeline/KafkaToFeatureStore/source/__pycache__/
MicroServices/FeaturePipeline/KafkaToFeatureStore/ruff_cache/
MicroServices/FeaturePipeline/KafkaToFeatureStore/.env
MicroServices/FeaturePipeline/KafkaToFeatureStore/tests/